@import "tailwindcss";

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: 300 800;
  font-style: normal;
}

@theme {
    --color-gray: #F4F3F3;
    --color-yellow-1: #F6DE26;
    --color-yellow-2: #F1BA0A;
    --color-red-1: #A70B0B;
    --color-red-2: #850A0A;
    --color-brown: #372B2B;
}

html {
  font-size: 10px;
  color: #372B2B;
}

button, a, svg {
  transition: ease .2s;
}

body {
  font-family: 'Open Sans';
  max-width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  line-height: 1.25;
  position: relative;
  overflow-x: hidden;
  @media (max-width: 350px) {
    position: static;
    min-width: 350px;
  }
}