@import "tailwindcss";

@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: 300 800;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans';
  max-width: 100vw;
  height: 100dvh;
  margin: 0 auto;
  line-height: 1;
  position: relative;
  overflow-x: hidden;
  @media (max-width: 250px) {
    position: static;
    min-width: 250px;
  }
}